/* 헤더 전체 랩 */
.he_wrap {
  height: 110px;
  width: 100%;
  position: fixed;
  display: flex;
  padding-top: 15px;
  justify-content: space-between;
}

.he_content_wrap {
  height: 100%;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 로고 시작 */
.logo_wrap > a {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 30px;
  user-select: none;
}

.logo_wrap > a > span {
  color: var(--main-point-color);
}
/* 로고 끝 */

/* 메뉴 버튼 시작 */
.menu_wrap {
  position: relative;
  user-select: none;
  z-index: 1000;
}

.button_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  cursor: pointer;
  outline: 1px solid red;
}

.button_wrap .bar {
  display: block;
  width: 0px;
  height: 3px;
  border-radius: 3px;
  margin-top: 28px;
  margin-left: 9px;
  position: relative;
}

.button_wrap .bar:before {
  content: "";
  width: 42px;
  height: 3px;
  background-color: var(--main-text-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 0.3s;
}

.button_wrap .bar:after {
  content: "";
  width: 42px;
  height: 3px;
  background-color: var(--main-point-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 0.3s;
}

.button_wrap.active span:before {
  transform: rotate(45deg);
  transition: transform 0.3s 0.8s;
}

.button_wrap.active span:after {
  transform: rotate(-45deg);
  transition: transform 0.3s 0.8s;
}

.button_wrap:before {
  content: "";
  width: 42px;
  height: 3px;
  background-color: var(--main-text-color);
  position: absolute;
  right: 9px;
  bottom: 17px;
  transition: width 0.3s 0.4s;
}

.button_wrap:after {
  content: "";
  width: 42px;
  height: 3px;
  background-color: var(--main-text-color);
  position: absolute;
  left: 9px;
  top: 17px;
  transition: width 0.3s 0.4s;
}

.button_wrap.active:before {
  width: 0;
  right: 9px;
  bottom: 17px;
}

.button_wrap.active:after {
  width: 0;
  left: 9px;
  top: 17px;
}
/* 메뉴 버튼 끝 */

/* 사이드 바 시작 */
.css-1160xiw-MuiPaper-root-MuiDrawer-paper {
  background-color: #000 !important;
  color: #fff !important;
  z-index: -1 !important;
}

.right_button {
  margin-top: -31px !important;
  width: 60px;
  height: 60px;
}
/* 사이드 바 끝 */
