/* 헤더 전체 랩 */
.he_wrap {
  height: 110px;
  width: 100%;
  position: fixed;
  display: flex;
  justify-content: space-between;
  z-index: 100;
}

.he_content_wrap {
  height: 100%;
  width: 165px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 로고 시작 */
.logo_wrap > a {
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 30px;
  user-select: none;
}

.logo_wrap > a > span {
  color: var(--main-point-color);
}
/* 로고 끝 */

/* 메뉴 버튼 시작 */
.menu_wrap {
  position: relative;
  user-select: none;
  z-index: 100 !important;
}

.button_wrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 60px;
  height: 60px;
  cursor: pointer;
}

.button_wrap .bar {
  display: block;
  width: 0px;
  height: 3px;
  border-radius: 3px;
  margin-top: 28px;
  margin-left: 9px;
  position: relative;
}

.button_wrap .bar:before {
  content: "";
  width: 42px;
  height: 3px;
  background-color: var(--main-text-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 0.3s;
}

.button_wrap .bar:after {
  content: "";
  width: 42px;
  height: 3px;
  background-color: var(--main-point-color);
  position: absolute;
  left: 0;
  bottom: 0;
  transition: transform 0.3s;
}

.button_wrap.active span:before {
  transform: rotate(45deg);
  transition: transform 0.3s 0.6s;
}

.button_wrap.active span:after {
  transform: rotate(-45deg);
  transition: transform 0.3s 0.6s;
}

.button_wrap:before {
  content: "";
  width: 42px;
  height: 3px;
  background-color: var(--main-text-color);
  position: absolute;
  right: 9px;
  bottom: 17px;
  transition: width 0.3s 0.4s;
}

.button_wrap:after {
  content: "";
  width: 42px;
  height: 3px;
  background-color: var(--main-text-color);
  position: absolute;
  left: 9px;
  top: 17px;
  transition: width 0.3s 0.4s;
}

.button_wrap.active:before {
  width: 0;
  right: 9px;
  bottom: 17px;
}

.button_wrap.active:after {
  width: 0;
  left: 9px;
  top: 17px;
}
/* 메뉴 버튼 끝 */

/* 사이드바 시작 */
.side_bar {
  position: absolute;
  height: 100vh;
  width: 100vw;
  right: 0;
  top: -100vh;
  z-index: -1;
  transition: background-color 1s, top 1s;
}

.button_wrap.active + .side_bar {
  right: 0;
  left: auto;
  top: 0;
  background-color: #000;
}

.side_bar > .side_bar_text_wrap {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.side_bar > .side_bar_text_wrap > .side_text {
  display: block;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  font-size: 5rem;
  padding: 30px 20px;
}

.side_bar > .side_bar_text_wrap > .side_text > span {
  position: relative;
  display: inline-block;
}

.side_bar > .side_bar_text_wrap > .side_text > span::after {
  content: "";
  position: absolute;
  height: 5px;
  width: 0;
  background: var(--main-point-color);
  margin-top: -50px;
  top: 100%;
  right: 0;
  opacity: 0.3;
  transition: 0.5s, opacity 1s;
}

.side_bar > .side_bar_text_wrap > .side_text > span:hover::after {
  width: 100%;
  left: 0;
  opacity: 1;
  transition: 0.5s;
}
/* 사이드바 끝 */
