/* 흐르는 이미지 시작 */
.ani_bg_p {
  position: absolute;
  top: 0;
  z-index: -1;
}

.animated_bg {
  width: 600px;
  height: 100vh;
}

.animated_bg_1 {
  background: url("../style/images/vg_1.jpg");
  background-size: contain;
  animation: animatedBackground1 400s linear infinite;
}

@keyframes animatedBackground1 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10000px;
  }
}

.animated_bg_2 {
  background: url("../style/images/vg_2.jpg");
  background-size: contain;
  animation: animatedBackground2 400s linear infinite;
}

@keyframes animatedBackground2 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 10000px;
  }
}
/* 흐르는 이미지 끝 */

/* 메인 텍스트 시작 */
.main_text-bg {
  font-size: 128px;
  font-family: "ClimateCrisisKRVF";
  line-height: 130px;
  border: 10px solid red;
  position: relative;
}

.main_text-bg > span {
  position: absolute;
  bottom: 0;
}
/* 메인 텍스트 끝 */
