/* 흐르는 이미지 시작 */
.ani_bg_p {
  position: absolute;
  top: 0;
  z-index: -1;
}

.animated_bg {
  width: 600px;
  height: 100vh;
}

.animated_bg_1 {
  background: url("../style/images/vg_1.jpg");
  background-size: contain;
  animation: animatedBackground1 400s linear infinite;
}

@keyframes animatedBackground1 {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 -10000px;
  }
}

.animated_bg_2 {
  background: url("../style/images/vg_3.jpg");
  animation: animatedBackground2 100s linear infinite;
  background-size: contain;
}

@keyframes animatedBackground2 {
  from {
    background-position: 0 0, 0 -400px, 0 -700px;
  }
  to {
    background-position: 0 3000px, 0 0, 0 500px;
  }
}
/* 흐르는 이미지 끝 */

/* 메인 텍스트 시작 */
.main_text_bg {
  font-size: 128px;
  font-family: "Inter", sans-serif;
  font-weight: 900;
  line-height: 130px;
  width: 1400px;
  height: 90vh;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  user-select: none;
}

.main_text_bg > div {
  position: absolute;
  bottom: 0;
  right: 0;
}

.main_text_bg > div:nth-child(1) {
  position: absolute;
  bottom: 130px;
  right: 0;
}

.main_text_bg > div > span {
  color: var(--main-point-color);
}
/* 메인 텍스트 끝 */

/* react-spring animation 시작 */
.container {
  position: absolute;
  top: 0;
  width: 1080px;
  height: 100vh;
  z-index: -10;
  opacity: 0.7;
}

.container__inner {
  position: absolute;
  overflow: hidden;
  position: relative;
  width: 1080px;
  z-index: -10;
}

.container__inner::before {
  display: block;
  content: "";
  width: 100%;
  padding-top: 56.25%;
}

.img__container {
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

.img__container > img {
  min-width: 100%;
  max-width: 1080px;
  position: absolute;
  z-index: -10;
}

/* 이미지 전환 시작 */
.bg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-75%) translateY(-50%);
  box-shadow: 5px 10px 20px rgba(255, 255, 255, 0.871);
  width: 55vw;
  height: 80vh;
  position: absolute;
  background-size: cover;
  background-position: center;
  will-change: opacity;
  z-index: -1;
}
/* 이미지 전환 끝 */
